<!-- <footer class="page__footer">
  <div class="page__footer-copyright">
    © 2025 Ethan Wise
  </div>
</footer>
 -->

 <footer class="page__footer">
   
  <div class="page__footer-social">
    
<!--     <a href="https://github.com/ethan-wise1" target="_blank">
      <i class="fab fa-github"></i> GitHub
    </a>
    
    &nbsp;|&nbsp; -->
    <a href="https://linkedin.com/in/ethan-wise" target="_blank"> 
      <i class="fab fa-linkedin" style="color: #0077B5;"></i> LinkedIn
    </a>
    
    &nbsp;|&nbsp;
<!--     <a href="mailto:ethanwise7@gmail.com">
      <i class="fas fa-envelope"></i> Email
    </a>
    
    &nbsp;|&nbsp; -->
    <a href="/assets//My%20Resume.pdf" target="_blank">
      <i class="fas fa-file-alt" style="color: #d14836;"></i> Résumé
    </a>
  </div>

  <div class="page__footer-copyright">
    © {{ site.time | date: '%Y' }} Ethan Wise
  </div>
</footer>
