---
layout: single
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title | default: site.title }}</title>
  {% include seo.html %}
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
</head>
<body class="{{ page.layout }}">

  <div class="masthead">
    <div class="masthead__inner-wrap">
      <div class="masthead__menu">
        <nav id="site-nav" class="greedy-nav">
          <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title }}</a>
          <ul class="visible-links">
            <li class="masthead__menu-item"><a href="{{ "/" | relative_url }}">Home</a></li>
            <li class="masthead__menu-item"><a href="{{ "/about_me/" | relative_url }}">About Me</a></li>
            <li class="masthead__menu-item"><a href="{{ "/projects/" | relative_url }}">Projects</a></li>
            <li class="masthead__menu-item"><a href="{{ "/quotes/" | relative_url }}">Principles &amp; Perspective</a></li>
          </ul>
          <button class="greedy-nav__toggle hidden" type="button" count="0">
            <span class="visually-hidden">Toggle menu</span>
            <div class="navicon"></div>
          </button>
          <ul class="hidden-links hidden"></ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="initial-content">
    <div id="main" role="main">
      {{ content }}
    </div>
  </div>

  <footer class="page__footer">
    <div class="page__footer-social">
      <a href="https://linkedin.com/in/ethan-wise" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
      &nbsp;|&nbsp;
      <a href="/assets/My%20Resume.pdf" target="_blank"><i class="fas fa-file-alt"></i> Résumé</a>
    </div>
    <div class="page__footer-copyright">© 2025 Ethan Wise</div>
  </footer>

  <script src="/assets/js/main.min.js"></script>

</body>
</html>
